html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.outlet {
  margin: 30px 40px;
}

.separator {
  height: 1px;
  margin: 0;
  width: 100%;
  border-top-width: 0;
  border-top-color: gray;
  background: gray;
}
